# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
*.egg

# VS Code
.vscode/
*.code-workspace

# Сборка
build/
*.deb
*.tar.gz
*.tar.gz.sha256

# Временные файлы
nohup.out
*.log
*.tmp

# Кэш и данные приложения
.cache/
*.db
*.db-journal
.ui.lock

# Системные файлы
.DS_Store
Thumbs.db
*~
